<div class="container bs-docs-container">
<p id="notice"><%= notice %></p>

<h1>Teams</h1>

<div class="mycenter">
  <table id="jqGrid"></table>
  <div id="jqGridPager"></div>
</div>
</div>
<script type="text/javascript">

  $(document).ready(function () {
    var pageWidth = $("#jqGrid").parent().width()
    $("#jqGrid").jqGrid({
      url: "/teams",
      editurl: '/teams/update',
      datatype: "json",
      mtype: 'GET',
      colNames: ['ID#', 'Initiative', 'status'],
      colModel: [
        {
          name: "id",
          index: "id",
          width: (pageWidth*(20/100))
        },
        {
          name: 'name',
          index: "name",
          width: (pageWidth*(60/100)),
          editable: true // must set editable to true if you want to make the field editable
        },
        {
          name: 'status',
          index: "status",
          width: (pageWidth*(20/100)),
          align: "center",
          editable: true, edittype:'select',editoptions: {value:'true:Active;false:Inactive'}, formatter:'select'
        }
      ],
      pager: "#jqGridPager",
      height: 'auto',
      rowNum: 20,
      rowList : [10, 20, 30],
      sortname : 'id',
      viewrecords: true,

      onSelectRow: editRow, // the javascript function to call on row click. will ues to to put the row in edit mode

    }).jqGrid("navGrid", "#jqGridPager", {
      edit: false,
      add: true,
      del: true,
      search: false,
      refresh: false,
      view: false
    }, {url: "/teams/update"}, {url: "/teams/create"}, {url: "teams/destroy/"}, {
      closeAfterEdit: true,
      closeOnEscape: true
    });


    var lastSelection;

    function editRow(id) {
      if (id && id !== lastSelection) {
        var grid = $("#jqGrid");
        grid.jqGrid('restoreRow', lastSelection);
        grid.jqGrid('editRow', id, {keys: true});
        lastSelection = id;
      }
    }

  });

</script>

