<p id="notice"><%= notice %></p>

<h1>Capitalizable Groups</h1>

<br /><br />

<table id=capitalizable_groups_list></table>
<div id=capitalizable_groups_pager></div>

<%= raw(capitalizable_groups_jqgrid) %>
