<h1>Editing Capitalization Result</h1>

<%= render 'form', capitalization_result: @capitalization_result %>

<%= link_to 'Show', @capitalization_result %> |
<%= link_to 'Back', capitalization_results_path %>
