<p id="notice"><%= notice %></p>

<h1>Cap_Hour_calculation</h1>

<div class="col-md-12">
  <button type="button" class="btn btn-success">Export to CSV</button>
</div>
<label>View with Leaves:</label>

<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-outline-info">
    <input type="radio" autocomplete="off"> Yes
  </label>
  <label class="btn btn-outline-info active">
    <input type="radio" autocomplete="off"> No
  </label>
</div>

<span class="tag tag-default"><%=@this_iteration.start_date.to_s %>123</span></h3>


<table id="jqGrid"></table>
<div id="jqGridPager"></div>

<script type="text/javascript">

  $(document).ready(function () {
    $("#jqGrid").jqGrid({
      url: "/cap_hour_calculation.json",
      datatype: "json",
      colModel: [
        {
          label: "Employee Name",
          name: "employee_name",
          width: 120
        },{
          label: "Team",
          name: "team_name",
          width: 160
        },{
          label: "Project",
          name: "project_name",
          width: 260
        },{
          label: "Employee Type",
          name: "employee_employment_type",
          width: 75
        },{
          label: "Hourly Rate",
          name: "employee_hourly_rate",
          width: 75
        },{
          label: "Capitalizable Rate",
          name: "capitalizable_group_description",
          width: 75
        },{
          label: "Team Dedication Weight",
          name: "dedication_weight",
          width: 75
        },{
          label: "Capitalizable Day",
          name: "result",
          width: 75
        }
      ],
      sortname: 'Employee Name',
      loadonce : true,
      viewrecords: true,
      onSelectRow: startEdit, // the javascript function to call on row click. will ues to to put the row in edit mode
      //width: 100,
      height: 440,
      rowNum: 20,
      pager: "#jqGridPager",
      gridview: true
    });

    // We need to have a navigation bar in order to add custom buttons to it
    $('#jqGrid').navGrid('#jqGridPager',
        { edit: false, add: false, del: false, search: true, refresh: true, view: false, position: "left", cloneToTop: true });

    // add first custom button
    $('#jqGrid').navButtonAdd('#jqGridPager',
        {
          buttonicon: "ui-icon-calculator",
          title: "Column chooser",
          caption: "Columns",
          position: "last",
          onClickButton: function() {
            // call the column chooser method
            jQuery("#jqGrid").jqGrid('columnChooser');
          }
        });



    var lastSelection;

    function editRow(id) {
      if (id && id !== lastSelection) {
        var grid = $("#jqGrid");
        grid.jqGrid('restoreRow', lastSelection);
        grid.jqGrid('editRow',id, {keys: true} );
        lastSelection = id;
      }
    }
  });


  function startEdit() {
    var grid = $("#jqGrid");
    var ids = grid.jqGrid('getDataIDs');

    for (var i = 0; i < ids.length; i++) {
      grid.jqGrid('editRow',ids[i]);
    }
  };
  function saveRows() {
    var grid = $("#jqGrid");
    var ids = grid.jqGrid('getDataIDs');

    for (var i = 0; i < ids.length; i++) {
      grid.jqGrid('saveRow', ids[i]);
    }
  }

</script>
