<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table id="jqGrid"></table>
<div id="jqGridPager"></div>


<script type="text/javascript">
  var team_options = '';
  <% Team.all.each do |team| %>
  team_options += $("<div/>").html('<%= team.id%>:<%= team.name%>;').text();
  <% end %>
  team_options = team_options.substring(0, team_options.length - 1);
  $(document).ready(function () {
    var pageWidth = 1280;
    $("#jqGrid").jqGrid({
      url: "/projects",
      editurl: '/projects/update',
      datatype: "json",
      mtype: 'GET',
      colNames: ['ID#', 'Team', 'Name', 'Status', 'Capitalizable', 'Weight', 'Release Date', 'Description'],
      colModel: [
        {
          name: "id",
          index: "id",
          width: (pageWidth * (3 / 100))
        }, {
          name: "team_id",
          index: "team_id",
          editable: true,
          edittype: 'select',
          editoptions: {value: team_options},
          formatter: 'select',
          width: (pageWidth * (18 / 100))
        },
        {
          name: 'name',
          index: "name",
          width: (pageWidth * (25 / 100)),
          editable: true // must set editable to true if you want to make the field editable
        },
        {
          name: 'status',
          index: "status",
          width: (pageWidth * (5 / 100)),
          align: "center",
          editable: true,
          edittype: 'select',
          editoptions: {value: '1:Active;2:Suspended;3:Released'},
          formatter: 'select'
        },
        {
          name: 'is_capitalizable',
          index: "is_capitalizable",
          width: (pageWidth * (7 / 100)),
          align: "center",
          editable: true, edittype: 'select', editoptions: {value: 'true:Y;false:N'}, formatter: 'select'
        },
        {
          name: 'weight',
          index: "weight",
          width: (pageWidth * (5 / 100)),
          align: "right",
          editable: true, formatter: weightFormatter, unformat: unformatWeight
        },
        {
          name: 'release_date',
          index: "release_date",
          width: (pageWidth * (10 / 100)),
          formatter: 'date', formatoptions: {newformat: 'd-M-Y'}, datefmt: 'd-M-Y',
          editable: true,
          edittype:'text', editoptions:{size:10,maxlength:10,dataInit:getDate},
        }, {
          name: 'description',
          index: "description",
          width: (pageWidth * (25 / 100)),
          editable: true
        }
      ],
      pager: "#jqGridPager",
      height: 'auto',
      rowNum: 20,
      rowList: [10, 20, 30],
      sortname: 'team_id',
      viewrecords: true,

      onSelectRow: editRow, // the javascript function to call on row click. will ues to to put the row in edit mode

    }).jqGrid("navGrid", "#jqGridPager", {
      edit: false,
      add: true,
      del: true,
      search: false,
      refresh: false,
      view: false
    }, {url: "/projects/update"}, {url: "/projects/create"}, {url: "projects/destroy/"}, {
      closeAfterEdit: true,
      closeOnEscape: true
    });


    var lastSelection;

    function editRow(id) {
      if (id && id !== lastSelection) {
        var grid = $("#jqGrid");
        grid.jqGrid('restoreRow', lastSelection);
        grid.jqGrid('editRow', id, {keys: true});
        lastSelection = id;
      }
    }

    function getDate(el) {
      $(el).datepicker({dateFormat:'d-M-yy'});
    }

    function weightFormatter(cellvalue, options, rowObject) {

      return cellvalue + '%';
    }

    function unformatWeight(cellvalue, options) {

      return cellvalue.replace("%", "");
    }

  });

</script>
