<p id="notice"><%= notice %></p>

<h1>Iterations</h1>

<table id="jqGrid"></table>
<div id="jqGridPager"></div>

<script type="text/javascript">

  $(document).ready(function () {
    $("#jqGrid").jqGrid({
      url: "/iterations",
      datatype: "json",
      mtype: 'GET',
      colNames: ['ID#', 'Start Date', 'End Date', 'Work Days'],
      colModel: [
        {
          name: "id",
          index: "id",
          width: 10
        },
        {
          name: 'start_date',
          index: "start_date",
          width: 200,
          editable: true // must set editable to true if you want to make the field editable
        },
        {
          name: 'end_date',
          index: "end_date",
          width: 200,
          editable: true
        },
        {
          name: 'work_day',
          index: "work_day",
          width: 100,
          editable: true
        }
      ],
      pager: "#jqGridPager",
      rowNum: 5,
      rowList : [10, 20, 30],
      sortname : 'id',
      viewrecords: true,

      //onSelectRow: editRow, // the javascript function to call on row click. will ues to to put the row in edit mode

    }).jqGrid("navGrid", "#jqGridPager", {
      edit: true,
      add: true,
      del: true
    }, {url: "/iterations/update"}, {url: "/iterations/create"}, {url: "iterations/destroy/"}, {
      closeAfterEdit: true,
      closeOnEscape: true
    });

    /*
     var lastSelection;

     function editRow(id) {
     if (id && id !== lastSelection) {
     var grid = $("#jqGrid");
     grid.jqGrid('restoreRow', lastSelection);
     grid.jqGrid('editRow', id, {keys: true});
     lastSelection = id;
     }
     }
     */
  });

</script>